body{
  background-image: url("canada.jpg");
  background-position: center;
  background-repeat: round;
  background-attachment: scroll;
}
p.cursive{
  color:black;
  background-color:orange;
  font-size: 130%;
  font-family: Arial;
  font-family: Florence,cursive;
  text-indent: 10%;
  border-radius: 20px;
}
ul{
  color:black;
  background-color:orange;
  font-size: 130%;
  font-family: Arial;
  font-family: Florence,cursive;
  list-style-image: url("greenbulet.png");
  list-style-position: inside;
  border-radius: 30px;
}
#name em{
  color:turquoise;
  font-family:"Courier New",Courier,monospace;
  font-size:x-large;
  font-variant: small-caps;
  text-decoration: underline;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 7px -5px 3px skyblue;
  text-decoration-style: dashed;
  text-decoration-color: red;
  text-indent: 10%;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 20px;
}

h2{
  color: green;
  background-color: lightgreen;
  opacity: 0.8;
  font-size: 230%;
  word-spacing:20px;
  padding: 10px;
  border-width: 5px;
  border-color: lightgreen;
  border-style:outset;
  box-shadow:  -5px 5px 2px 2px gray;
}
div.abt{
font-style:italic;
  font-size:230%;
  font-weight: bolder;
  font-variant: small-caps;
  color:rgb(255,0,0);
  background-color: yellow;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: below;
  text-decoration-color: magenta;
  border:3px orange inset;
  opacity: 0.8;
  box-shadow: 0 0 10px 4px #FF6347;

}
h1{
  background-color: yellow;
  font-style: italic;
    font-variant: small-caps;
    opacity: 0.9;
    color:rgb(255,0,0);
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: below;
    text-decoration-color: magenta;
    border:3px orange
   box-shadow: 0 0 10px 4px #FF6347
}
span.sub{
  vertical-align:sub;
}
a:hover{
  color: white;
}
img{
  float: right;
  width: 120px;
  height: 120px;
  margin-right: -5px;
 shape-margin:10px;
 margin-top: -5px;
 border-style: dashed;
 border-color: yellow
 ;
 border-radius: 60px;
 z-index: 3;
 position: relative;
}
